.footer {
    box-sizing: border-box;
    background-color: #141414;
    color: white;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__title {
    color: rgb(229, 9, 20);
    font-weight: 700;
    letter-spacing: 1.65px;
    justify-content: center;
}


.footer__links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
}

.footer__btn {
    color: rgb(128, 125, 125);
    background-color: #141414;
    border: none;
    font-size: 16px;
}


.footer__link {
    padding: 0px 32px;
    list-style: none;
    text-decoration: none;
    color: rgb(128, 125, 125);
    cursor: no-drop;
    overflow: hidden;
    position: relative;
    transition: 300ms;
}

.cursor {
    cursor: pointer;
}

.footer__link:hover {
    color: white;
}

.copyright {
    padding: 12px;
}

.red {
    color: rgb(229, 9, 20);
}

