.genres {
    box-sizing: border-box;
    background-color: #141414;
    color: white;
}

.container {
    width: 100%;
    margin: 0px 48px;
}

.row {
display: flex;
flex-direction: column;
justify-content: center;
align-items: left;
}

.genre__title {
    padding-top: 24px;
    padding-bottom: 12px;
}

.genre__img {
    height: 230px;
    width: 180px;
    border-radius: 4px;
}