.genres {
  box-sizing: border-box;
  background-color: #141414;
  color: white;
}

.container {
  margin: 0px 48px;
}

.row {
  width: 100%;
}

.search__results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search__picks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.genre__wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

.genre__title {
  padding-top: 24px;
  padding-bottom: 12px;
  letter-spacing: 1.1px;
}

.genre__picks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.genre__img {
  padding: 4px 4px;
  height: 230px;
  width: 180px;
  border-radius: 8px;
  
}


